

.resetpasswordpage .loginpage {
    background: url(../../images/repassbg.png) top center no-repeat;
    background-size: 100% 100%;
}

.resetpasswordpage .login-box {
    max-width: 550px; 
}

.resetpasswordpage .login-box .title p {
    color: #959895;
    margin: 16px 0;
}




