.dasboardpage {
    width: 100%;
    height: 100vh;
    background: url(../../../images/bg.png) top center no-repeat;
    background-size: 100% 100%;
}

.notifyimg {
    cursor: pointer;
}

header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 63px;
    padding: 15px 15px 15px 90px;
    background-color: #fff;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

header .leftpart {
    width: 225px;
}

header .leftpart form {
    width: 100%;
}

header .leftpart form input {
    width: 100%;
    border-radius: 400px;
    border: 1px solid rgba(218, 218, 218);
    padding: 7px 10px 7px 28px;
    outline: none;
    -webkit-appearance: none;
    background: url(../../../images/icon12.svg) top 14px left 10px no-repeat;
}

header .rightpart {
    display: flex;
    align-items: center;
}

header .rightpart .user {
    display: flex;
    align-items: center;
    margin-left: 15px;
    position: relative;
}

header .rightpart .user figure {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 10px 0 0;

}

header .rightpart .user .userinfo {
    min-width: 50px;
}

header .rightpart .user figure>img {
    width: 100%;
    height: 100%;
}

header .rightpart .user h3 {
    color: #000;
    font-size: 14px;
    font-family: 'NeuzeitGro-Reg';
    font-weight: 600;
    letter-spacing: 1px;
    font-style: normal;
    margin: 0 0 2px;
}

header .rightpart .user p {
    color: #000;
    font-size: 10px;
    font-style: normal;
    font-family: 'NeuzeitGro-Reg';
    font-weight: normal;
    margin: 0;
}

.dropdownopt {
    position: relative;
    margin: 12px 0 0 10px;
}

.dropdownopt>span {
    width: 10px;
    cursor: pointer;
    height: 0px;
    border-width: 8px 8px 0px 8px;
    border-style: solid solid none solid;
    border-color: #000 transparent transparent transparent;
}

.dropdownoptbox {
    position: absolute;
    top: 22px;
    right: 0;
    width: 102px;
    border-radius: 2px;
    background: #FFEEE7;
    padding: 5px 10px ;
}

.dropdownoptbox>button {
    border: none;
    background-color: transparent;
    color: #000;
    font-family: 'NeuzeitGro-Reg';
    font-weight: normal;
    font-size: 14px;
    line-height: 1;
}  

.dropdownoptbox>button img {
    width: 18px;
    display: inline-block;
    margin-right: 5px;
} 

.fullsidebar header {
    padding-left: 275px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}


@media (max-width: 767px) {
    .fullsidebar header {
        padding-left: 90px;
    }

}