.hungerbox {
    width: 100%;
    margin: 0 auto;
    max-width: 400px;
    padding: 10px;
    display: flex;
}

.headerbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.headerbox>ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerbox>ul>li+li {
    margin-left: 25px;
}

.searchbox {
    display: block;
    position: relative;
    margin-top: 25px;
    padding-bottom: 25px;
    border-bottom: 6px solid #F7F7FA;
}

.searchbox input {
    border-radius: 10px;
    background: #F7F7FA;
    display: block;
    border: none;
    outline: none;
    padding: 10px 40px 10px 10px;
    font-size: 18px;
}

.searchbox button {
    border: none;
    outline: none;
    background: transparent;
    position: absolute;
    top: 7px;
    right: 10px;
}

.menuspeciallist {
    margin: 30px 0;
}

.menuspeciallist h2 {
    color: #000;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 25px;
}

.menuspecialbox {
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 15px;
}



.menuspecialbox figure img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.menuspecialbox h3 {
    font-size: 14px;
    line-height: 1.2;
    color: #000;
}

.prtitext {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.prtitext .price {
    color: #000;
    font-size: 12px;
    line-height: 1.2;
}


.menuspecialbox h3 {
    color: #000;
    font-size: 14px;
    line-height: 1.2;
}

.menuspecialbox .price {
    color: #000;
    font-size: 12px;
    line-height: 1;
}

.menuspecialbox p {
    color: #000;
    font-size: 10px;
    font-weight: 400;
    padding: 0 10px;
    margin: 0;
}

.menuspecialbox .startext {
    color: #000;
    font-size: 12px;
    line-height: 1.2;
    padding: 0 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menuspecialbox .startext button {
    border: 1px solid #42B856;
    font-family: Neuzeit Grotesk;
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    padding: 4px 10px;
    border-radius: 5px;
    background-color: transparent;
}

.categorylist {
    width: 100%;
    padding-left: 10px;
    overflow: hidden;
    margin: 20px 0;
    max-width: 345px;
    transition: all .3s;
}

.categorylist h2 {
    color: #000;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 10px;
}


.categorylist ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    overflow: auto;
    transition: all .3s;
}

.categorylist ul li {
    width: 62px;
}

.categorylist ul li:not(:last-child) {
    margin-right: 15px;
}

.categorylist ul li > img {
    width: 100%;
    width: 62px;
    height: 62px;
}

.categorylist ul li h3 {
    color: #000;
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    margin: 5px 0 5px;
    text-align: center;

} 

.categorylist ul::-webkit-scrollbar {
    height: 4px;
    background-color: #f7f7f7;
    border-radius: 5px;
}

.categorylist ul::-webkit-scrollbar-thumb{
    height: 4px;
    border-radius: 5px;
    background-color: #aeaeae;
}








