.successpage .loginpage {
    background: url(../../images/sucessbg.png) top center no-repeat;
    background-size: 100% 100%;
  }

.success-box {
    max-width: 450px;
    text-align: center;
}

.success-box h2 {
    color: #07143B;
    font-family: Playfair Display;
    font-size: 40px;
    margin: 24px 0;
}

.success-box p {
    color: #959895;
    font-size: 16px;
}

.success-box .btn {
    color: #fff;
    padding: 8px 24px;
    border-radius: 44px;
    background: #EA6A12;
    box-shadow: 0px 8px 16px 0px rgba(59, 138, 255, 0.25);
}