.otp_container>div>div+div {
    margin-left: 20px;
  }
 
  .otp_container>div input {
    justify-content: center;
    margin-left: 20px;
    background: #FFFFFF !important;
    border: 1px solid rgba(225, 225, 225, 0.7);
    border-radius: 12px;
    width: 56px !important;
    height: 56px !important;
    outline-color: #FFC900;
  }
 
  .otp_container>div .veryfy_code {
    display: flex;
    justify-content: center;
 
  }

  
.account-part {
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow-y: auto;
  }
  
  .account-part .right_part {
    padding: 15px 5px;
    overflow-y: auto;
  }
  
  .account-part .login-part {
    height: 460px;
  }
  