/* .date-range-popup {
  display: flex;
  flex-direction: column;
  align-items: center;
} */
.right {
  display: flex;
}

.order-history-input {
  width: 368px;
  height: 40px;
  padding: 15px;
  border: 1px solid #EA6A12;
  border-radius: 6px;
  outline: none;
}

.order-history-input:focus {
  border-color: #EA6A12;

}

.input-container {
  position: relative;
  display: flex;
  margin-left: 11px;
  margin-right: 6px;
}

/* .waiter-input {
  width: 368px;
  height: 40px;
  padding: 5px;
  border: 1px solid #EA6A12;
  border-radius: 6px;
  outline: none;
}

.waiter-input:focus {
  border-color: #EA6A12;
} */

.search-icon {
  margin-top: 12px;
    position: absolute;
    height: 16px;
    z-index: 9;
}

.sort-btn {
  display: flex;
  background-color: white;
  color: #EA6A12;
  margin-left: 15px;
  width: 152px;
  border: 1px solid #EA6A12;
  flex-direction: row;
  border-radius: 6px;
  align-items: center;
}

.date-btn {
  display: flex;
  background-color: white;
  color: #EA6A12;
  margin-left: 15px;
  width: 191px;
  border: 1px solid #EA6A12;
  flex-direction: row;
  border-radius: 6px;
  align-items: center;
  padding: 4px;
}


.suggestions {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: #f0f0f0;
}

.date-range-popup .DateRangePicker {
  display: flex;
}

/* Adjust other styles as necessary */

.cal-img {
  height: 13px;
  width: 13px;
  margin: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.cal-btn {
  height: 36px;
  width: 120px;
  margin: 5px;
  border: none;
  background-color: #B7B7B7CC;
  color: white;
  border-radius: 21px;
}

.apply-btn {
  height: 36px;
  width: 120px;
  margin: 5px;
  border: none;
  background-color: #EA6A12;
  color: white;
  border-radius: 21px;
}

.ordertitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.order-type-dot {
  margin-right: 5px;
}

.ordertitle h2 {
  color: #000;
  font-size: 32px;
  margin-bottom: 0px;
  font-family: "NeuzeitGro-Bol";
  font-weight: normal;
}

.ordertitle .mangerbtn {
  border-radius: 100px;
  color: #fff;
  background: #ea6a12;
  font-size: 16px;
  font-family: "NeuzeitGro-Reg";
  font-weight: normal;
  border: none;
  outline: none;
  transition: all 0.3s;
  padding: 8px 18px;
}

.ordertitle .mangerbtn>img {
  margin: -3px 2px 0 0px;
  display: inline-block;
}

.ordertable {
  width: 100%;
  overflow: auto;
  padding: 5px 0;
}

.ordertable table {
  width: 100%;
  border-collapse: collapse;
  min-width: 950px;
  margin-bottom: 10px;
}

.ordertable table th {
  font-size: 18px;
  color: #000;
  font-family: "NeuzeitGro-Reg";
  font-weight: normal;
  padding: 10px 5px;
  line-height: 1.2;
}

.ordertable table th:first-child,
.ordertable table td:first-child {
  min-width: 110px;
  text-align: center;
}

.ordertable table th:nth-child(2),
.ordertable table td:nth-child(2) {
  min-width: 170px;
  width: 25%;
}

.ordertable table th:nth-child(3),
.ordertable table td:nth-child(3) {
  min-width: 240px;
  width: 25%;
  text-align: center;
}

.ordertable table th:nth-child(4),
.ordertable table td:nth-child(4) {
  min-width: 200px;
  width: 25%;
}

.ordertable table th:nth-child(5),
.ordertable table td:nth-child(5) {
  min-width: 200px;
  width: 20%;
}

.ordertable table th:nth-child(6),
.ordertable table td:nth-child(6) {
  min-width: 350px;
  word-wrap: break-word;
}

.ordertable table th:nth-child(7),
.ordertable table td:nth-child(7) {
  min-width: 250px;
  word-wrap: break-word;
}

.ordertable table th:last-child,
.ordertable table td:last-child {
  min-width: 140px;
  text-align: center;
}

.ordertable table th:last-child {
  text-align: center;
}

.ordertable table tr+tr {
  margin-top: 15px;
}

.ordertable table .userimg {
  width: 39px;
  height: 39px;
  border-radius: 50%;
}

.ordertable table .userimg img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.ordertable table td {
  font-size: 16px;
  color: #000;
  font-family: "NeuzeitGro-Reg";
  font-weight: normal;
  line-height: 1.2;
  padding: 10px 5px;
  font-family: "NeuzeitGro-Reg";
  font-weight: normal;
}

.ordertable table tr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
}

.ordertable table tr:first-child {
  background-color: rgba(239, 148, 86, 0.7);
}

.ordertable table tr:not(:first-child) {
  background: rgba(255, 255, 255, 0.6);
}

.asbtn {
  border: none;
  outline: none;
  border: 1px solid #cdcdcd;
  border-radius: 100px;
  color: rgba(205, 205, 205, 1);
  font-size: 16px;
  background: transparent;
  font-family: "NeuzeitGro-Reg";
  font-weight: normal;
  transition: all 0.3s ease;
  padding: 7px 20px;
  font-family: "NeuzeitGro-Reg";
  font-weight: normal;
  line-height: 1;
}

.asbtn:hover {
  transition: all 0.3s ease;
  border: 1px solid #ea6a12;
  color: #ea6a12;
}

.asbtn+.asbtn {
  margin-left: 10px;
}

/* popup css */

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(0, 0, 0, 0.4); */
  background-color: rgb(199 199 199 / 40%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  z-index: 999;
  overflow: auto;
}


.dateRange-picker .popupinnerbox {
  position: static;
  transform: none;
  height: auto;
  max-width: 650px;
}

.dateRange-picker .popuptitle h2 {
  color: #000;
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 50px;
}

.dateRange-picker .popupbody {
  position: relative;

}


.dateRange-picker .popupbody form {
  position: relative;
  /* height: calc(100vh - 270px); */
  height: auto;
  overflow: auto;
  width: 100%;

  /* overflow: auto; */
}

.arabicnumber {
  float: right;
}

.dateRange-picker .popupbody .managerimg {
  position: absolute;
  top: -85px;
  right: 20px;
}

.formbox label {
  color: #000;
  font-size: 16px;
  font-family: "NeuzeitGro-Reg";
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 8px;
}

.formbox .form-control {
  font-size: 16px;
  padding: 10px 15px;
  font-family: "NeuzeitGro-Reg";
  font-weight: normal;
  color: #000;
  border: none;
  outline: none;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.roleselectbox select {
  font-size: 16px;
  padding: 10px 15px;
  font-family: "NeuzeitGro-Reg";
  font-weight: normal;
  color: #000;
  border: none;
  outline: none;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 40px;
  width: 100%;
  border-radius: 3px;

}

.dateRange-picker .popupinner button {
  padding: 8px 25px;
}

.submitbtnbox button {
  border: none;
  outline: none;
  background-color: transparent;
  font-family: 'NeuzeitGro-Reg';
  font-weight: normal;
  font-size: 16px;
  padding: 5px 40px;
  border-radius: 563.025px;
  color: #fff;
  border: 1px solid transparent;
}

.submitbtnbox .submitbtn {
  background: #EA6A12;
}

.submitbtnbox .cancelbtn {
  background: rgba(183, 183, 183, 0.8);
  margin-right: 50px;
}

.dateRange-picker .react-tel-input .form-control,
.leadpopup .react-tel-input .form-control {
  width: 100%;
}



.wantmanager .popupinner {
  max-width: 400px;
  padding: 30px 15px;
  border-radius: 20px;
}

.wantmanager .popupbody {
  text-align: center;
}

.wantmanager .popupbody h2 {
  font-size: 30px;
  font-family: "NeuzeitGro-Bol";
  font-weight: normal;
  line-height: 1.2;
  margin: 20px 0;
}

.wantmanager .popupbody button {
  border: none;
  outline: none;
  color: #fff;
  padding: 5px 25px;
  border-radius: 100px;
  transition: all 0.3s ease;
  background: rgba(205, 205, 205, 0.8);
}

.wantmanager .popupbody button:hover {
  transition: all 0.3s ease;
  background: #ea6a12;
}

.ordertable .pagination {
  margin-top: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ordertable .pagination .page-item a {
  color: #000;
  box-shadow: none;
  cursor: pointer;
}

.ordertable .pagination .active>.page-link {
  border: 1px solid #c65b13b2;
  background-color: #c65b13b2;
  color: white;
}

.ordertable .pagination .page-item:first-child a,
.ordertable .pagination .page-item:last-child a {
  padding: 6px 16px;
  border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #ea6a12;
  background-color: #fff;
}

.ordertable .pagination .page-item:first-child {
  position: absolute;
  left: 0;
}

.ordertable .pagination .page-item:last-child {
  position: absolute;
  right: 0;
}

.ordertable .pagination .page-item.disabled a {
  border: 1px solid #e8e8e8;
  color: #787878;
}


/***************  Arabic css  *****************/

.arabic .ordertable .pagination .page-item:not(:first-child) {
  direction: ltr;
}

.arabic .dateRange-picker .popupbody .managerimg {
  right: auto;
  left: 20px;
}

.arabic .react-tel-input.input_filed {
  direction: ltr;
}

.arabic .submitbtnbox .cancelbtn {
  margin-left: 50px;
  margin-right: 0;
}





/* scrollbar css start  */

.ordertable::-webkit-scrollbar,
.dateRange-picker .popupbody::-webkit-scrollbar {
  height: 5px;
  width: 3px;
  background-color: #ef9456b2;
  border-radius: 100px;
}

.ordertable::-webkit-scrollbar-thumb,
.dateRange-picker .popupbody::-webkit-scrollbar-thumb {
  height: 5px;
  width: 3px;
  background-color: #c65b13b2;
  border-radius: 100px;
}

/* scrollbar css end  */


@media(min-width:768px) {}

.custom-select {
  appearance: none;
  padding: 8px 20px 8px 40px;
  /* Adjust padding as needed */
  background-image: url('../../../images/filtericon.svg');
  background-repeat: no-repeat;
  background-position: 10px center;
  /* Adjust position of the image */
  background-size: 20px;
  /* Adjust image size as needed */
  background-color: #EA6A12;
  border: none;
  border-radius: 25px;
  color: white;
  outline: none;
}


.dropdownhistory {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  background: #ffffff;
  color: #000;
}
.dropdownhistory > .dropdown-row {
  padding: 0 5px;
}