.edituserimg,.editprofilebanner {
    position: relative;
}

.edituserimgbutton  {
    position: absolute;
    overflow: hidden;
    display:block;    
    height: auto; 
    top: -4px;
    right: 0px;
    cursor: pointer !important;
}

.editprofilebanner .info .edituserimgbutton button {
    border-radius: 0px;
    padding: 0;
    font-size: 0;
    border: none;
    outline: none; 
    background-color: transparent;
}

.editprofilebanner .info .edituserimgbutton img {
    width: 25px;
    height: auto;
    margin: 0;
    border-radius: 0;
    cursor: pointer !important;
}

.editbannerimg  {
    position: absolute;
    overflow: hidden;
    display: block;
    height: auto;
    bottom: 78px;
    right: 10px;
    z-index: 2;
    background: transparent;
    border-radius: 50%;
    box-shadow: 0 0 5px #000;
}
.editbannerimg1  {
    position: absolute;
    overflow: hidden;
    display: block;
    height: auto;
    bottom: 78px;
    right: 96%;
    z-index: 2;
    background: transparent;
    border-radius: 50%;
    box-shadow: 0 0 5px #000;
}
.editbannerimg  img {
    width: 40px;
}
.editbanneimgbutton button{
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
}

.edituserimg input[type=file] ,
.editbannerimg input[type=file]  {   
     position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: auto;
    display: block;
    padding: 0;
    margin: 0;
    height: 100%;
    line-height: normal;
}