@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins&display=swap');


body {
  padding: 0;
  margin: 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  padding-left: 0 !important;
}

ul,li,ol {
  list-style: none;
  padding: 0;
  margin: 0;
}



