.kdslogoimg{
    height: 58px;
    width: 51px;
}
.kot-status{
    display: flex;
    width: 100%;
    color: #EA6A12;
    justify-content: center;
}

.kdspage {
    background: url(../../../images/bg.png) top center no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
}

.kds-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px 25px 10px 30px;
    box-shadow: 0 0 7px #0000004f;
    position: relative;
    z-index: 1;
}
.kdsRight{
    display:flex ;
    justify-content: center;
    align-items: center;
}

.kds-logout{
    outline: none;
    border: none;
    box-shadow: none;
    background: none;
    font-family: 'NeuzeitGro-Reg';
    font-weight: normal;
    color: rgba(234, 106, 18, 1);
    transition: all .3s ease;
}

.kds-logoutimg{
    width: 18px;
    margin: 14px;
}

.contentpart {
    overflow: auto;
    min-height: 500px;
    height: calc(100vh - 78px);
    padding: 30px;

}

.kgcardpart {
    display: flex;
    flex-wrap: wrap;
}

.kgcardbox {
    width: calc(100%/4 - 23px);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 14px;
    margin-right: 30px;
    min-height: 493px;
    margin-bottom: 35px;
}

.kgcardbox:nth-child(4n+4) {
    margin-right: 0;
}


.kgcardtitle {
    border-radius: 14px 14px 0 0;
    padding: 16px;                                            /*//if time than 10px */
    background-color: #EABB36;
    display: flex;
    justify-content: space-between;
}

.kgcardtitle>.leftpart>h3 {
    font-size: 18px;
}

.kgcardtitle>.leftpart>h4 {
    font-size: 16px;
    color: #fff;
}

.kgcardtitle>.rightpart>h2 {
    font-size: 18px;
}
.order-status-btn{
    display: flex;
    flex-direction: row;
}

.deliveryinfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.deliveryinfo {
    padding: 15px 10px;
    /* background-color: rgb(234 187 54 / 10%); */
}

.deliveryinfo>h3 {
    background-color: #fff;
    padding: 5px 10px;
    font-size: 16px;
    color: #000;
    margin-bottom: 0;
    font-family: 'NeuzeitGro-Reg';
   
}
.deliveryinfo>h3>img{
    margin-right: 5px;
}

.deliveryinfo>h4 {
    font-size: 18px;
    font-family: 'NeuzeitGro-Reg';
}


.kgcardlist {
    width: 100%;
    height: 464px;
    overflow: auto;
}

.kgcardlist>li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #998888;
    padding: 15px;

}
.kgcardlist>li > .leftpart {
    width: calc(100% - 150px);
}

.kgcardlist>li h3 {
    font-size: 16px;
}

.kgcardlist>li p {
    font-size: 14px;
    margin-bottom: 0;
}

.kgcardlist>li button {
    border: none;
    outline: none;
    padding: 4px 10px;
    border: 1px solid #EABB36;
    border-radius: 4px;
    background: transparent;
    font-size: 16px;
    color:#EABB36
}

.kgcardlist>li button img {
    width: 22px;
    margin-left: 3px;
}


 .popupbody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.popup-head{
    font-family: Neuzeit Grotesk;
    font-size: 40px;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 380px;
}

.popup-para{
    font-family: Neuzeit Grotesk;
    font-size: 28px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.02em;
    text-align: center;
}
.popup-btn{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin:10px
}
/* .popup-btn button{
    width: 131px;
    height: 38px;
    top: 241px;
    left: 47px;
    border-radius: 563.03px;   
    color:white;
    border:none;
    background-color: #B7B7B7CC;   
} */
.popup-cal-btn{
    width: 131px;
    height: 38px;
    top: 241px;
    left: 47px;
    border-radius: 563.03px;   
    color:white;
    border:none;
    background-color: #B7B7B7CC;     
}
.popup-yes-btn{
    width: 131px;
    height: 38px;
    top: 241px;
    left: 47px;
    border-radius: 563.03px;   
    color:white;
    border:none;
    background-color: #B7B7B7CC;   
}


/**************************** scroll bar css  *********************************/

.contentpart::-webkit-scrollbar {
    width: 5px;
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

.contentpart::-webkit-scrollbar-thumb {
    background: #EABB36;
    border-radius: 10px;
}

.kgcardlist::-webkit-scrollbar {
    width: 6px;
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

.kgcardlist::-webkit-scrollbar-thumb {
    background: #EABB36;
    border-radius: 10px;
}

/* arabic Css    */


.arabic .kgcardbox   {
    margin-right: 0;
    margin-left: 30px;
}

.arabic .kgcardbox:nth-child(4n+4) {
    margin-left: 0;
}
.arabic  .deliveryinfo>h3>img {
    margin-right: 0;
    margin-left: 5px;
}

.arabic .kgcardlist>li button img {
    margin-left: 0;
    margin-right: 3px;;

}



/**************************** Responsive css *********************************/

@media (max-width:1320px) {
    .kgcardbox {
        width: calc(100%/3 - 20px);
    }

    .kgcardbox:nth-child(4n+4) {
        margin-right: 30px;
    }

    .kgcardbox:nth-child(3n+3) {
        margin-right: 0;
    }

    .arabic .kgcardbox:nth-child(4n+4) {
        margin-left: 30px;
        margin-right: 0;
    }
    .arabic .kgcardbox:nth-child(3n+3) {
        margin-left: 0;
        margin-right: 0;
    }
}


@media (max-width:991px) {
    .kds-header { 
        padding: 10px 15px;
    }

    .contentpart {
        padding: 15px;
    }

    .kgcardlist>li h3 {
        font-size: 14px;
    }

    .kgcardlist>li p {
        font-size: 12px;
    }

    .kgcardlist>li button {
        font-size: 14px;
    }

    .kgcardlist>li button {
        font-size: 12px;
        padding: 4px 5px;
    }

    .kgcardlist>li {
        padding: 10px 5px;
    }

    .kgcardbox {
        margin-right: 15px;
        width: calc(100%/3 - 10px);
        margin-bottom: 25px;
    }

    .kgcardbox:nth-child(4n+4) {
        margin-right: 15px;
    }

    .arabic .kgcardbox {
        margin-left: 15px;
    }
    .arabic .kgcardbox:nth-child(4n+4){
        margin-left: 15px;
    }

}


@media (max-width:767px) { 

    .kgcardbox {
        width: calc(100%/2 - 5px);
        margin-right: 10px;
    }

    .kgcardbox:nth-child(3n+3) {
        margin-right: 10px;
    }
    .kgcardbox:nth-child(2n+2) {
        margin-right: 0;
    }
    .arabic .kgcardbox,
    .arabic .kgcardbox:nth-child(4n+4)  {
        margin-left: 0;
    }

}

@media (max-width:767px) {  
    .kgcardbox {
        width: calc(100%);
        margin-right : 0;
    }
    .kgcardbox:nth-child(3n+3) {
        margin-right: 0px;
    }
}






