.managertitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.managertitle h2 {
  color: #000;
  font-size: 32px;
  margin-bottom: 0px;
  font-family: "NeuzeitGro-Bol";
  font-weight: normal;
}

.managertitle .mangerbtn {
  border-radius: 100px;
  color: #fff;
  background: #ea6a12;
  font-size: 16px;
  font-family: "NeuzeitGro-Reg";
  font-weight: normal;
  border: none;
  outline: none;
  transition: all 0.3s;
  padding: 8px 18px;
}

.managertitle .mangerbtn > img {
  margin: -3px 2px 0 0px;
  display: inline-block;
}

.managertable {
  width: 100%;
  overflow: auto;
  padding: 5px 0;
}

.managertable table {
  width: 100%;
  border-collapse: collapse;
  min-width: 950px;
  margin-bottom: 10px;
}

.managertable table th {
  font-size: 18px;
  color: #000;
  font-family: "NeuzeitGro-Reg";
  font-weight: normal;
  padding: 10px 5px;
  line-height: 1.2;
}

.managertable table th:first-child,
.managertable table td:first-child {
  min-width: 80px;
  text-align: center;
}

.managertable table th:nth-child(2),
.managertable table td:nth-child(2) {
  min-width: 170px;
  width: 25%;
}

.managertable table th:nth-child(3),
.managertable table td:nth-child(3) {
  min-width: 240px;
  width: 25%;
}

.managertable table th:nth-child(4),
.managertable table td:nth-child(4) {
  min-width: 200px;
  width: 25%;
}

.managertable table th:nth-child(5),
.managertable table td:nth-child(5) {
  min-width: 130px;
}

.managertable table th:nth-child(6),
.managertable table td:nth-child(6) {
  min-width: 400px;
  word-wrap: break-word;
}

.managertable table th:last-child,
.managertable table td:last-child {
  min-width: 140px;
}

.managertable table th:last-child {
  text-align: center;
}

.managertable table tr + tr {
  margin-top: 15px;
}

.managertable table .userimg {
  width: 39px;
  height: 39px;
  border-radius: 50%;
}

.managertable table .userimg img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.managertable table td {
  font-size: 16px;
  color: #000;
  font-family: "NeuzeitGro-Reg";
  font-weight: normal;
  line-height: 1.2;
  padding: 10px 5px;
  font-family: "NeuzeitGro-Reg";
  font-weight: normal;
}

.managertable table tr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
}

.managertable table tr:first-child {
  background-color: rgba(239, 148, 86, 0.7);
}

.managertable table tr:not(:first-child) {
  background: rgba(255, 255, 255, 0.6);
}

.asbtn {
  border: none;
  outline: none;
  border: 1px solid #cdcdcd;
  border-radius: 100px;
  color: rgba(205, 205, 205, 1);
  padding: 5px 10px;
  font-size: 16px;
  background: transparent;
  font-family: "NeuzeitGro-Reg";
  font-weight: normal;
  transition: all 0.3s ease;
  padding: 7px 30px;
  font-family: "NeuzeitGro-Reg";
  font-weight: normal;
  line-height: 1;
}

.asbtn:hover {
  transition: all 0.3s ease;
  border: 1px solid #ea6a12;
  color: #ea6a12;
}

.asbtn + .asbtn {
  margin-left: 10px;
}

/* popup css */

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(0, 0, 0, 0.4); */
  background-color:   rgb(199 199 199 / 40%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  z-index: 999;
  overflow: auto;
}

.addmanagerpopup.popup {
  align-items: normal; 
}

.addmanagerpopup .popupinner {
  border-radius: 12px;
  padding: 30px;
  max-width: 700px;
  width: 90%;
  max-width: 700px;
  background-color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -40%);
  -o-transform: translate(-50%, -40%);
  -ms-transform: translate(-50%, -40%);
  transform: translate(-50%, -40%);
}

.addmanagerpopup .popuptitle h2 {
  color: #000;
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 50px;
}

.addmanagerpopup .popupbody form {
  position: relative;
}

.addmanagerpopup .popupbody .managerimg {
  position: absolute;
  top: -85px;
  right: 20px;
}

.formbox label {
  color: #000;
  font-size: 16px;
  font-family: "NeuzeitGro-Reg";
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 8px;
}
.formbox .form-control {
  font-size: 16px;
  padding: 10px 15px; 
  font-family: "NeuzeitGro-Reg";
  font-weight: normal;
  color: #000;
  border: none;
  outline: none;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.addmanagerpopup .popupinner button {
  padding: 8px 25px;
}

.submitbtnbox button {
  border: none;
  outline: none;
  background-color: transparent;
  font-family: 'NeuzeitGro-Reg';
  font-weight: normal;
  font-size: 16px;
  padding: 5px 40px;
  border-radius: 563.025px;
  color: #fff;
  border: 1px solid transparent;
}

.submitbtnbox .submitbtn  { 
  background: #EA6A12;
}

.submitbtnbox .cancelbtn {
  background:rgba(183, 183, 183, 0.8);
  margin-right: 50px;
}

.addmanagerpopup .react-tel-input .form-control {
  width: 100%;
}



.wantmanager .popupinner {
  max-width: 400px;
  padding: 30px 15px;
  border-radius: 20px;
}

.wantmanager .popupbody {
  text-align: center;
}

.wantmanager .popupbody h2 {
  font-size: 30px;
  font-family: "NeuzeitGro-Bol";
  font-weight: normal;
  line-height: 1.2;
  margin: 20px 0;
}

.wantmanager .popupbody button {
  border: none;
  outline: none;
  color: #fff;
  padding: 5px 25px;
  border-radius: 100px;
  transition: all 0.3s ease;
  background: rgba(205, 205, 205, 0.8);
}

.wantmanager .popupbody button:hover {
  transition: all 0.3s ease;
  background: #ea6a12;
}

.managertable .pagination {
  margin-top: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.managertable .pagination .page-item a {
  color: #000;
  box-shadow: none;
  cursor: pointer;
}

.managertable .pagination .active > .page-link {
  border: 1px solid #c65b13b2;
  background-color: #c65b13b2;
  color: white;
}

.managertable .pagination .page-item:first-child a,
.managertable .pagination .page-item:last-child a {
  padding: 6px 16px;
  border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #ea6a12;
  background-color: #fff;
}

.managertable .pagination .page-item:first-child {
  position: absolute;
  left: 0;
}

.managertable .pagination .page-item:last-child {
  position: absolute;
  right: 0;
}

.managertable .pagination .page-item.disabled a {
  border: 1px solid #e8e8e8;
  color: #787878;
}

/* scrollbar css start  */

.managertable::-webkit-scrollbar,
.addmanagerpopup .popupbody::-webkit-scrollbar {
  height: 5px;
  width: 3px;
  background-color: #ef9456b2;
  border-radius: 100px;
}

.managertable::-webkit-scrollbar-thumb,
.addmanagerpopup .popupbody::-webkit-scrollbar-thumb {
  height: 5px;
  width: 3px;
  background-color: #c65b13b2;
  border-radius: 100px;
}

/* scrollbar css end  */
