.managertitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}


.managertitle h2 {
    color: #000;
    font-size: 32px;
    margin-bottom: 0px;
    font-weight: 700;
}

.managertitle .mangerbtn {
    border-radius: 100px;
    color: #FFF;
    background: #EA6A12;
    font-size: 16px;
    font-weight: 400;
    border: none;
    outline: none;
    transition: all .3s;
    padding: 5px 10px;
}

.managertable {
    width: 100%;
    overflow: auto;
}

.managertable table {
    width: 100%;
    border-collapse: collapse;
    min-width: 950px;
    margin-bottom: 10px;
}

.managertable table th {
    font-size: 18px;
    color: #000;
    font-weight: 400;
    padding: 10px;
    line-height: 1.2;
}

.managertable table th:first-child,
.managertable table td:first-child {
    width: 50px;
}

.managertable table th:nth-child(2),
.managertable table td:nth-child(2) {
    width: 150px;
}


.managertable table th:nth-child(3),
.managertable table td:nth-child(3) {
    width: 240px;
}

.managertable table th:nth-child(4),
.managertable table td:nth-child(4) {
    width: 200px;
}


.managertable table th:nth-child(5),
.managertable table td:nth-child(5) {
    width: 400px;
}

.managertable table th:last-child,
.managertable table td:last-child {
    width: 190px;
}

.managertable table th:last-child {
    text-align: center;
}

.managertable table tr+tr {
    margin-top: 15px;
}


.managertable table .userimg {
    width: 39px;
    height: 39px;
    border-radius: 50%;
}

.managertable table .userimg img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.managertable table td {
    font-size: 16px;
    color: #000;
    font-weight: 400;
    line-height: 1.2;
    padding: 10px;
}

.managertable table tr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
}

.managertable table tr:first-child {
    background-color: rgba(239, 148, 86, 0.70);
}

.managertable table tr:not(:first-child) {
    background: rgba(255, 255, 255, 0.60);
}


.asbtn {
    border: none;
    outline: none;
    border: 1px solid #CDCDCD;
    border-radius: 100px;
    padding: 5px 10px;
    font-size: 16px;
    background: transparent;
    font-weight: 400;
    transition: all .3s ease;
}

.asbtn:hover {
    transition: all .3s ease;
    border: 1px solid #EA6A12;
    color: #EA6A12;
}

.asbtn+.asbtn {
    margin-left: 10px;
}

/* popup css */

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .4);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    z-index: 999;
    overflow: auto;
}

.addmanagerpopup.popup {
    align-items: normal;
}

.addmanagerpopup .popupinner {
    border-radius: 12px;
    padding: 30px;
    max-width: 700px;
    width: 90%;
    max-width: 700px;
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50% , -40%);
    -o-transform: translate(-50% , -40%);
    -ms-transform: translate(-50% , -40%);
    transform: translate(-50% , -40%);   
}



.addmanagerpopup .popuptitle h2 {
    color: #000;
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 50px;
}

.addmanagerpopup .popupinner .popupbody {
    background-color: rgba(255, 255, 255, 1);
}

.addmanagerpopup .popupinner .popupbody form {
    position: relative;
}

.addmanagerpopup .popupinner .popupbody .managerimg {
    position: absolute;
    top: -85px;
    right: 20px;
}

.formbox label {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 8px;
}
 .formbox .form-control {
    font-size: 16px;
    padding: 10px 15px;
    color: #000;
    border: none;
    outline: none;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.addmanagerpopup .popupinner button {
    padding: 8px 25px;    
}


.wantmanager .popupinner {
    max-width: 400px;
    padding:30px 15px;
    background-color: #fff;
    border-radius: 20px;
}

.wantmanager .popupbody {
    text-align: center;
}

.wantmanager .popupbody h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
    margin: 20px 0;
}

.wantmanager .popupbody button {
    border: none;
    outline: none;
    color: #fff;
    padding: 5px 25px;
    border-radius: 100px;
    transition: all .3s ease;
    background: rgba(205, 205, 205, 0.80);
}

.wantmanager .popupbody button:hover {
    transition: all .3s ease;
    background: #EA6A12;
}



.managertable .pagination {
    margin-top: 20px;
    float: right;
}
.managertable .pagination .page-item a{
    color: #000;
    box-shadow: none;
}

.managertable .pagination .active>.page-link {

    border: 1px solid #c65b13b2;
    background-color: #c65b13b2;
    color: white;

}


/* scrollbar css start  */

.managertable::-webkit-scrollbar,
.addmanagerpopup .popupinner .popupbody::-webkit-scrollbar {
    height: 5px;
    width: 3px;
    background-color: #EF9456B2;
    border-radius: 100px;
}

.managertable::-webkit-scrollbar-thumb,
.addmanagerpopup .popupinner .popupbody::-webkit-scrollbar-thumb {
    height: 5px;
    width: 3px;
    background-color: #c65b13b2;
    border-radius: 100px;
}

/* scrollbar css end  */
